@import "reset";
@import "global";
@import "vars";

.map {
  width: 100%;
  height: 728px;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts {
  margin-bottom: 124px;
  &-title {
    font-size: 56px;
    line-height: 68px;
    font-weight: 600;
    padding: 56px 0;
  }
  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
  }
  &__info {
    background-color: #fff;
    padding: 32px;
    width: 644px;
    margin-top: -672px;
    margin-right: 56px;
    z-index: 10;
  }
  &__info-text {
    color: $gray;
    font-size: 14px;
    position: relative;
    padding-left: 40px;
    &::before {
      content: "";
      position: absolute;
      height: 24px;
      width: 24px;
      left: 0;
      top: 0;
      background-image: url("../img/info.svg");
      cursor: pointer;
    }
  }
  &__description {
    margin-top: -671px;
    margin-left: 56px;
    padding: 56px;
    background-color: #fff;
    z-index: 10;
  }
  &__description-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 32px;
  }
  &__list {
    padding-bottom: 58px;
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 442px;
    padding-bottom: 24px;
  }
  &__item-inner {
    display: flex;
    gap: 32px;
  }
  &__item-label {
    @extend %small-text;
    font-weight: 600;
  }
  &__item-desc {
    color: $gray;
    @extend %small-text;
    padding-top: 4px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  &__button-map {
    color: $green;
    background-color: #e5f6ee;
    transition: all 0.3s;
    p {
      position: relative;
      padding-left: 26px;
      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: 0;
        left: 0;
        background-image: url("../img/download.svg");
      }
    }
  }
  &__button-call {
    color: #fff;
    background-color: $green;
    transition: all 0.3s;
    p {
      position: relative;
      padding-left: 24px;
      &::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: 0;
        left: 0;
        background-image: url("../img/call.svg");
      }
    }
  }
  &__button {
    @extend %small-text;
    position: relative;
    font-weight: 500;
    text-align: center;
    padding: 16px;
    flex: 1 0 auto;
  }
}

.contacts__button-map:hover {
  color: #fff;
  background-color: $green;
  p::before {
    background-image: url("../img/download--white.svg");
  }
}

.contacts__button-call:hover {
  color: $green;
  background-color: #e5f6ee;
  p::before {
    background-image: url("../img/call--green.svg");
  }
}

.copy__button-svg {
  color: $gray;
  transition: all 0.3s;
  &:hover {
    color: #00a55a;
  }
}

.slider {
  padding-bottom: 124px;
  .slick-slide {
    margin: 0 20px;
    padding-bottom: 48px;
  }
  .slick-arrow {
    bottom: 0;
    font-size: 0;
  }
}

.slick-dots {
  width: 86%;
  padding-bottom: 11px;
  font-size: 0;
  display: flex;
  justify-content: start;
  li {
    flex: 1 0 auto;
  }
}
.slick-dots button {
  width: 100%;
  height: 8px;
  background-color: #f2f2f2;
}

.slick-active button {
  background-color: $green;
  transition: all ease-in-out 0.3s;
}

.slick-arrow {
  font-size: 0;
  position: absolute;
}

.slick-prev.slick-arrow {
  right: 72px;
  background-image: url("../img/previous-green.jpeg");
  width: 56px;
  height: 56px;
}
.slick-prev.slick-arrow.slick-disabled {
  background-image: url("../img/previous.svg");
}
.slick-next.slick-arrow {
  right: 0;
  background-image: url("../img/next-green.svg");
  width: 56px;
  height: 56px;
}

.slick-next.slick-arrow.slick-disabled {
  background-image: url("../img/next.svg");
}

.section-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  padding-bottom: 32px;
}

.slick-list {
  margin: 0 -20px;
}

.command {
  padding-bottom: 124px;
  &__text {
    color: $black;
    line-height: 28px;
    font-size: 18px;
    max-width: 848px;
    padding-bottom: 41px;
  }
}

.command {
  &__slider-img {
    width: 100%;
  }
  &__slider-textbox {
    padding: 24px 32px;
    border: 1px solid #d9d9d9;
    border-top: none;
  }
  &__slider-name {
    @extend %small-text;
    font-weight: 600;
    color: $black;
    padding-bottom: 8px;
  }
  &__slider-post {
    font-size: 14px;
    line-height: 20px;
    color: $gray;
  }
  .slick-slide {
    margin: 0 20px;
    padding-bottom: 40px;
  }
  .slick-arrow {
    margin-top: -185px;
    top: 0;
    right: 0;
  }
  .slick-prev.slick-arrow {
    right: 72px;
  }
  .slick-dots {
    width: 100%;
  }
}

.details {
  padding-bottom: 124px;
  &__inner {
    position: relative;
  }
  &__text {
    max-width: 1144px;
    font-size: 17px;
    line-height: 28px;
    color: $gray;
    padding-bottom: 56px;
  }
  &__table {
    width: 1144px;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: $gray;
    border: 1px solid #d9d9d9;
  }
  &__table-row {
    display: flex;
    justify-content: start;
    transition: all 0.3s;
    &:hover {
      background-color: #fafafa;
      .details__table-copy {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  &__table-name {
    flex-basis: 404px;
    @extend %small-text;
    font-weight: 600;
    color: $black;
  }
  &__table-item {
    width: 740px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  td {
    word-break: break-all;
    padding: 16px 32px;
    border: 1px solid #d9d9d9;
  }
  &__table-copy {
    opacity: 0;
  }
  &__download {
    position: absolute;
    top: 0;
    right: 0;
    width: 444px;
    padding: 24px;
    background-color: #fafafa;
    display: flex;
    text-align: left;
  }
  &__download-textbox {
    padding-left: 24px;
  }
  &__download-text {
    padding-bottom: 4px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  &__download-desc {
    @extend %small-text;
    color: $gray;
  }
}

@import "media";
